<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view_discussion.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./navbar.ejs') %>

    <div class="container">
        <div class="outer-box">
            <form class="input">
            <div><h2>Topic Topic Topic </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                praesentium nisi ratione odio nobis quasi reiciendis!
            </p>
            <button>Reply</button>
            </form>
        </div>
    </div>

    <div class="container1">
        <div class="reply-box">            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                praesentium nisi ratione odio nobis quasi reiciendis!
            </p>
        </div>
    </div>
    <div class="container1">
        <div class="reply-box">            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                praesentium nisi ratione odio nobis quasi reiciendis!
            </p>
        </div>
    </div>
    <div class="container1">
        <div class="reply-box">            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                praesentium nisi ratione odio nobis quasi reiciendis!
            </p>
        </div>
    </div>
    
    

   
    
</body>
</html>