* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
}

header {
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header nav .search{
    margin-left: 25px;
}

header nav .profile{
    margin-right: 25px;
}

header img{
    height: 100px;
}

.container{
    height: auto;
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
   
}

.outer-box{
    border: solid black 1px;
    padding: 40px;
    border-radius: 10px;
}

.container1{
    height: auto;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    padding-bottom: 0px;
}

.reply-box{
    border: solid black 1px;
    padding: 20px;
    border-radius: 10px;
}

.input button{
    margin-left: 92%;
    padding: 7px;
    color: rgb(0, 0, 0);
    font-size: 11px;
    border: solid black 1px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
