<link rel="stylesheet" href="../../css/navbar.css">  <!-- Add css to this somehow-->

<header>
    <nav>
        <div class="search">
            <input type="text" placeholder="search...">
            <button>Search</button>
        </div>
        <a href="/">
            <img class="ursinus" src="../images/ursinus_logo.png" alt=""> <!-- clicking can bring you to the main homepage with other colleges shown -->
        </a>
        <a href="/viewProfile">
            <img class="profile" src="../images/default_picture.png" alt="">
        </a>
    </nav>
    <div class="tabs">
        <ul>
            <li class="D">
                <a href="/discussions">
                    All Discussions
                </a>
            </li>
            <li class="A">
                <a href="/allAnnouncements">

                    All Announcements

                </a>
            </li>
            <li class="N">
                <a href="/news">

                    All News

                </a>
            </li>

        </ul>
        </div>
</header>

