<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all_announcements.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>
    
    
    <ul id="announcementList">
        <li><button class="annButton">Announcement 31</button></li>
        <li><button class="annButton">Announcement 30</button></li>
        <li><button class="annButton">Announcement 29</button></li>
        <li><button class="annButton">Announcement 28</button></li>
        <li><button class="annButton">Announcement 27</button></li>
        <li><button class="annButton">Announcement 26</button></li>
        <li><button class="annButton">Announcement 25</button></li>
        <li><button class="annButton">Announcement 24</button></li>
        <li><button class="annButton">Announcement 23</button></li>
        <li><button class="annButton">Announcement 22</button></li>
        <li><button class="annButton">Announcement 21</button></li>
        <li><button class="annButton">Announcement 20</button></li>
        <li><button class="annButton">Announcement 19</button></li>
        <li><button class="annButton">Announcement 18</button></li>
        <li><button class="annButton">Announcement 17</button></li>
        <li><button class="annButton">Announcement 16</button></li>
        <li><button class="annButton">Announcement 15</button></li>
        <li><button class="annButton">Announcement 14</button></li>
        <li><button class="annButton">Announcement 13</button></li>
        <li><button class="annButton">Announcement 12</button></li>
        <li><button class="annButton">Announcement 11</button></li>
        <li><button class="annButton">Announcement 10</button></li>
        <li><button class="annButton">Announcement 9</button></li>
        <li><button class="annButton">Announcement 8</button></li>
        <li><button class="annButton">Announcement 7</button></li>
        <li><button class="annButton">Announcement 6</button></li>
        <li><button class="annButton">Announcement 5</button></li>
        <li><button class="annButton">Announcement 4</button></li>
        <li><button class="annButton">Announcement 3</button></li>
        <li><button class="annButton">Announcement 2</button></li>
        <li><button class="annButton">Announcement 1</button></li>
    </ul>
</body>

</html>
