<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all_discussions.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>
    <ul id="discussionList">
        <!-- Discussions will be dynamically added here -->
    </ul>

    <script>
        // Number of discussions
        var numberOfDiscussions = 15; // value for num of articles
        var discussionList = document.getElementById('discussionList');
        for (var i = 1; i <= numberOfDiscussions; i++) {
            var discussionItem = document.createElement('li');
            var button = document.createElement('button');
            button.textContent = 'Discussion ' + i;
            discussionItem.appendChild(button);
            discussionList.appendChild(discussionItem);
        }
    </script>
</body>
</html>