<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all_discussions.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>
    <main>
        <ol class ="discussion-posts">

            <% if (discussions.length > 0) { %>
                
                <% discussions.forEach(discussion => { %>
                <!-- <a href="/discussions/"></a> -->
                <a href="/discussions/<%= discussion._id %>"><li> <%= discussion.title %> </li></a>

                <% }) %>

            <% }else {%>
                <p> There are no discussions to display...</p>
                <%  }%>

        </ol>
    </main>
</body>
</html>