<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all_news.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>
    <ul id="news">
        <!-- News will be dynamically added here -->
    </ul>

    <script>
        //Number of news articles
        var num = 15;
        var newsList = document.getElementById('news');
        for (var i = 1; i <= num; i++) {
            var newsItem = document.createElement('li');
            var button = document.createElement('button');
            button.textContent = 'News Article ' + i;
            newsItem.appendChild(button);
            newsList.appendChild(newsItem);
        }
    </script>
</body>
</html>