<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all_discussions.css">
    <title>Uniforums | <%= title %></title>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>
    
    <main>
        <div class="search-container">
            <input type="text" placeholder="Search">
            <button>Search</button>
        </div>
        <ol class ="discussion-posts">
            <li><button type="button">Discussion 1</button></li>
            <li><button type="button">Discussion 2</button></li>
            <li><button type="button">Discussion 3</button></li>
            <li><button type="button">Discussion 4</button></li>
            <li><button type="button">Discussion 5</button></li>
            <li><button type="button">Discussion 6</button></li>
            <li><button type="button">Discussion 7</button></li>
            <li><button type="button">Discussion 8</button></li>
            <li><button type="button">Discussion 9</button></li>
            <li><button type="button">Discussion 10</button></li>
        </ol>
    </main>
</body>
</html>