<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/create_announcment.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>

    <h1>Create New Announcement</h1>
    <div class="container">
        <div class="outer-box">
            <form class="input">
                <input type="text" id="" class="" placeholder="Title of Announcement" required>
                <textarea name="" id="" cols="30" rows="10" placeholder="Share..."></textarea>
                <button>Post</button>
            </form>
        </div>
    </div>
    
</body>
</html>