<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/create_discussion.css">
    <title>Create Discussion</title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>


    <!-- <div class="container">
        <div class="outer-box">
            <form action="input" class="input">
                <textarea name="" id="" cols="30" rows="10" placeholder="Title"></textarea>
                <textarea name="" id="" cols="30" rows="10" placeholder="Discuss..."></textarea>
                <button>Post</button>
            </form>
        </div>
    </div> -->

    <h1>Create New Discussion</h1>
    <div class="container">
        <div class="outer-box">
            <form class="input">
                <input type="text" id="username" class="" placeholder="Title of Discussion" required>
                <!-- <input type="text" id="password" class="" placeholder="Discuss..." required> -->
                <textarea name="" id="" cols="30" rows="10" placeholder="Discuss..."></textarea>
                <button>Post</button>
            </form>
        </div>
    </div>
    
</body>
</html>