<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/create_announcment.css">
    <title>Create Discussion</title>
</head>
<body>

    <header>
        <nav>
            <div class="search">
                <input type="text" placeholder="search...">
                <button>Search</button>
            </div>
            <img class="ursinus" src="../images/ursinus_logo.png" alt=""> <!-- clicking can bring you to the main homepage with other colleges shown -->
            <img class="profile" src="../images/default_picture.png" alt="">
        </nav>
    </header>


    <!-- <div class="container">
        <div class="outer-box">
            <form action="input" class="input">
                <textarea name="" id="" cols="30" rows="10" placeholder="Title"></textarea>
                <textarea name="" id="" cols="30" rows="10" placeholder="Discuss..."></textarea>
                <button>Post</button>
            </form>
        </div>
    </div> -->

    <h1>Create New Announcement</h1>
    <div class="container">
        <div class="outer-box">
            <form class="input">
                <input type="text" id="" class="" placeholder="Title of Announcement" required>
                <!-- <input type="text" id="password" class="" placeholder="Discuss..." required> -->
                <textarea name="" id="" cols="30" rows="10" placeholder="Share..."></textarea>
                <button>Post</button>
            </form>
        </div>
    </div>
    
</body>
</html>