<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Ursinus Forum</title>
</head>
<body>

    <header>
        <nav>
            <div class="search">
                <input type="text" placeholder="search...">
                <button>Search</button>
            </div>
            <img class="ursinus" src="../images/ursinus_logo.png" alt=""> <!-- clicking can bring you to the main homepage with other colleges shown -->
            <a href="view_profile.html">
                <img class="profile" src="../images/default_picture.png" alt="">
            </a>
        </nav>
    </header>

    <div class="container">
        <div class="left">
            Recent School News
            <ul>
                <li>Story 1</li>
                <li>Story 2</li>
                <li>Story 3 </li>
                <li>Story 4</li>
                <li>Story 5</li>
                <li>Story 1</li>
                <li>Story 2</li>
                <li>Story 3 </li>
                <li>Story 4</li>
                <li>Story 5</li>
            </ul>
            
        </div>
        <div class="middle">
            Announcements
            <ul>
                <li>Announcement 1</li>
                <li>Announcement 2</li>
                <li>Announcement 3</li>
                <li>Announcement 4</li>
                <li>Announcement 5</li>
            </ul>
            
        </div>
        <div class="right">
            <p> Recent Discussions <a href="create_discussion.html"><img src="../images/plus.png" alt=""></a></p>
            <ul>
                <li>Discussion 1</li>
                <li>Discussion 2</li>
                <li>Discussion 3</li>
                <li>Discussion 4</li>
                <li>Discussion 5</li>
                <li>Discussion 1</li>
                <li>Discussion 2</li>
                <li>Discussion 3</li>
                <li>Discussion 4</li>
                <li>Discussion 5</li>
            </ul>
        </div>
    </div>


</body>
</html>