<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Uniforums | <%= title %> </title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <div class="left">
            Recent School News
            <ul>
                <li>NASA Grant Funds...</li>
                <li>Professor Katie Sh...</li>
                <li>Wall Street Comes t...</li>
                <li>Ursinus Staff Prese...</li>
                <li>Ongoing Lecture Se...</li>
                <li>As FAFSA Delays C...</li>
                <li>Celebrating Faculty...</li>
                <li>Huge Fifth Inning L...</li>
                <li>Second Half Dooms...</li>
            </ul>
            
        </div>
        <div class="middle">
            ANNOUNCEMENTS
            <ul>
                <li>Volleyball Club...</li>
                <li>Audition Toda...</li>
                <li>Mens Lacrosse...</li>
                <li>Field Hockey G...</li>
                <li>Art Club Paintin...</li>
            </ul>
            
        </div>
        <div class="right">
            <p> Recent Discussions <a href="/discussions/create"><img src="../images/plus.png" alt=""></a></p>
            <ul>
                <li>Is CS-375 a good clas...</li>
                <li>If Professor Mong...</li>
                <li>If I want to major in...</li>
                <li>Is Business a good m...</li>
                <li>Is double majoring a...</li>
                <li>If I want to play tw...</li>
                <li>As a freshman would...</li>
                <li>If I play a sport ca...</li>
            </ul>
        </div>
    </div>


</body>
</html>