<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/single_announcement.css">
    <title>Announcement</title>
</head>
<body>

    <header>
        <nav>
            <div class="search">
                <input type="text" placeholder="search...">
                <button>Search</button>
            </div>
            <img class="ursinus" src="../images/ursinus_logo.png" alt=""> <!-- clicking can bring you to the main homepage with other colleges shown -->
            <img class="profile" src="../images/default_picture.png" alt="">
        </nav>
    </header>

    <div class="container">
        <div class="outer-box">
            <form action="" class="announcement">  
                <!-- Page made for clicking on discussion and seeing it on its on page -->

                <div><h2>Title Title Title  </h2> <h4>Organization Name</h3></div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                    ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                    praesentium nisi ratione odio nobis quasi reiciendis! Aspernatur, et ipsum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                    ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                    praesentium nisi ratione odio nobis quasi reiciendis! Aspernatur, et ipsum.
                </p>

            </form>
        </div>
    </div>
    
</body>
</html>