<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/single_article.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./partials/navbar.html') %>

    <div class="container">
        <div class="outer-box">
            <form action="" class="article">  
                <!-- Page made for clicking on discussion and seeing it on its on page -->
                
                <div><h2>Article Title  </h2> <h2>Author</h2></div>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                    ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                    praesentium nisi ratione odio nobis quasi reiciendis! Aspernatur, et ipsum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo impedit similique 
                    ipsam, inventore reprehenderit consequuntur veniam, alias, nam accusamus id 
                    praesentium nisi ratione odio nobis quasi reiciendis! Aspernatur, et ipsum.
                </p>

            </form>
        </div>
    </div>
    
</body>
</html>