<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/view_profile.css">
    <title>Uniforums | <%= title %></title>
</head>



<body>
    
    <%- include('./partials/navbar.ejs') %>
    
    <h1>Profile</h1>
    <div class="container">
        <div class="outer-box">
            <img class="profile" src="../images/default_picture.png" alt="">
            <div class = "username-box">
                Username
            </div>
            
            <div class ="email-box">
                E-mail
            </div>
            
            <div class ="name-box">
                Name    
            </div>
            <div class ="school-box">
                School
            </div>
            <div class ="bio-box">
                Bio
            </div>
        </div>
    </div> 
   
</body>
</html>