* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-container {
    width: 100px;
}

.search-container input[type=text] {
    width: 300px;
}

button {
    font-size: 16px; 
    padding: 5px 50px; 
    margin: 0px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    margin: 0 auto;
    
}

.button-container {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    text-align: center;
}

