* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
}

header {
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header nav .search{
    margin-left: 25px;
}

header nav .profile{
    margin-right: 25px;
}


header img{
    height: 100px;
}



/* Meat of homepage */


.container {
    display: flex;
    justify-content: space-between;
    flex-direction: center;
    background-color: rgb(251,176,52);
}

.container .middle {
    text-align: center;
    background-color: rgb(150, 15, 39);
    padding: 4px;
    font-size: 100px;
    color: rgb(255, 255, 255)
    
}

.container .middle li{
    list-style: none;
    text-align: center;
    border-radius: 200px;
    border: 2px solid black;
    padding: 16px;
    margin-bottom: 20px;
    font-size: 50px;
}

/* Left and right boxing done here */


.container .left li {
    border: 3px solid black;
    list-style: none;
    border-radius: 200px;
    background-color: rgb(150, 15, 39);
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 19px;
    font-size: 20px;
    
}

.container .left{
    text-align: center;
    font-size: 40px;
}

.container .right li{
    border: 3px solid black;
    list-style: none;
    border-radius: 200px;
    background-color: rgb(150, 15, 39);
    text-align: center;
    margin-bottom: 10px;
    padding: 19px;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

.container .right{
    text-align: center;
    font-size: 40px;
}

.container .right img {
    height: 25px;
    cursor: pointer;
    
}



