*{
    padding: 0px;
    margin: 0px;
    
}

/*body*/

body{
    background: rgb(247, 246, 246);
    color:rgb(3, 3, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(16, 15, 15);
}

 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.outer-box{
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: column;
    height: 900px;
    width: 600px;
    border-radius: 10px;
    color: rgb(27, 26, 26);
    box-shadow: 0px 2px 10px 0px rgb(3, 3, 3);
}

.outer-box .profile{
    margin: auto;
    height: 400px;
    width: 400px;
    
}

.username-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 400px;
    font-size: Large;
    color: rgb(12, 12, 12);
    margin: auto;
    background-color: rgb(244, 242, 242);
}

.email-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 400px;
    font-size: Large;
    color: black;
    margin: auto;
    background-color: white;
}

.name-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 400px;
    font-size: Large;
    color: black;
    margin: auto;
    background-color: white;
}

.school-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 400px;
    font-size: Large;
    color: black;
    margin: auto;
    background-color: white;
}

.bio-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    font-size: xx-large;
    color: black;
    margin: auto;
    background-color: white;
}