<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all_articles.css">
    <title>Uniforums | <%= title %></title>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>
    
    <ul id="articleList">
        <li><button class="artButton">Article 31</button></li>
        <li><button class="artButton">Article 30</button></li>
        <li><button class="artButton">Article 29</button></li>
        <li><button class="artButton">Article 28</button></li>
        <li><button class="artButton">Article 27</button></li>
        <li><button class="artButton">Article 26</button></li>
        <li><button class="artButton">Article 25</button></li>
        <li><button class="artButton">Article 24</button></li>
        <li><button class="artButton">Article 23</button></li>
        <li><button class="artButton">Article 22</button></li>
        <li><button class="artButton">Article 21</button></li>
        <li><button class="artButton">Article 20</button></li>
        <li><button class="artButton">Article 19</button></li>
        <li><button class="artButton">Article 18</button></li>
        <li><button class="artButton">Article 17</button></li>
        <li><button class="artButton">Article 16</button></li>
        <li><button class="artButton">Article 15</button></li>
        <li><button class="artButton">Article 14</button></li>
        <li><button class="artButton">Article 13</button></li>
        <li><button class="artButton">Article 12</button></li>
        <li><button class="artButton">Article 11</button></li>
        <li><button class="artButton">Article 10</button></li>
        <li><button class="artButton">Article 9</button></li>
        <li><button class="artButton">Article 8</button></li>
        <li><button class="artButton">Article 7</button></li>
        <li><button class="artButton">Article 6</button></li>
        <li><button class="artButton">Article 5</button></li>
        <li><button class="artButton">Article 4</button></li>
        <li><button class="artButton">Article 3</button></li>
        <li><button class="artButton">Article 2</button></li>
        <li><button class="artButton">Article 1</button></li>
    </ul>
</body>

</html>
