header {
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    
}

header nav .search{
    margin-left: 25px;
}

header nav .profile{
    margin-right: 25px;
}


header img{
    height: 100px;
   margin: center;
}

head  .tabs{
    flex-direction: row;
    justify-content: space-between;
    display: flex;    

    
}

header .tabs .D{
    
    background-color: black;
    width: fit-content;
    height:fit-content;
    
   
}

header .tabs .A{
   
    background-color: black;
    width: fit-content;
    height: fit-content;
    
   
}

header .tabs .N{
    background-color: black;
    width: fit-content;
    height: fit-content;
   
    
}
