header {
    background-color: black;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header nav .search{
    margin-left: 25px;
}

header nav .profile{
    margin-right: 25px;
}


header img{
    height: 100px;
}